<?php
/**
 * Plugin Name:  {{name}}
 * Plugin URI:   {{lowercase website}}
 * Description:  {{description}}
 * Author:       {{titleize author}} <{{lowercase email}}>
 * License:      MIT
 * Text Domain:  {{lowercase (dashcase namespace)}}
 *
 * @package {{lowercase (dashcase namespace)}}
 */

namespace {{pascalcase namespace}};

/**
 * {{name}}
 */
(new class {
    public $autoload;
    public $container;
    public $bud;

    public function __construct()
    {
        $this->autoload = realpath(__DIR__ . '/vendor/autoload.php');
        $this->bootstrap = realpath(__DIR__ . '/app/bootstrap.php');
    }

    /**
     * Instantiate the plugin.
     */
    public function __invoke()
    {
        if (! $this->autoload) {
            add_action('admin_notices', [$this, 'composerError']);
            return;
        }

        /**
         * The plugin container
         */
        $this->bud = require $this->bootstrap;

        /**
         * Registers script and style assets
         */
        add_action('init', $this->bud->get('plugin.registration'));

        /**
         * Handles plugin runtime concerns.
         */
        register_activation_hook(__FILE__, $this->bud->get('plugin.activate'));
        register_deactivation_hook(__FILE__, $this->bud->get('plugin.deactivate'));
    }

    public function composerError()
    {
        print '<div class="notice notice-error">
            <p><strong>There\'s a problem with the {{name}} plugin.</strong></p>
            <p>Please run <code>composer install</code> in <code>' . __DIR__ .'</code></p>
        </div>';
    }
})();
