/**
 * {{{{raw}}}}{{componentName}}{{{{/raw}}}}
 *
 */
const {{{{raw}}}}{{componentName}}{{{{/raw}}}} = () => {
  return (
    <div></div>
  )
}

export default {{{{raw}}}}{{componentName}}{{{{/raw}}}}
